<% @page_title = "Product Lines" %>


<div class="lines index">
  <h2>Product Lines</h2>

  <%= link_to(" Add New Product Line", {:action => 'new'}, :class => 'action new') %>

  <div>product <%= pluralize(@lines.size, 'line') %> found</div>
  <table class="listing" summary="Product Line list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Product Line</th>
      <th>Visible</th>
      <th>Product Amount</th>
      <th>Actions</th>
    </tr>
    <% @lines.each do |line| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= line.position %></td>
      <td><%= line.name %></td>
      <td class="center"><%= status_tag(line.visible) %></td>
      <td class="center"><%= line.products.size %></td>
      <td class="actions">
        <%= link_to("View Products", {:controller => 'products', :line_id => line.id}, :class => 'action show') %>
        <%= link_to("Show", {:action => 'show', :id => line.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => line.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => line.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
