- @page_title = @line.name
.container.whitetext{:class => "c_" + @line.color}
  .linepad
    %h2.linename= @line.name
    %h2 Products for this line:
    %table.listing{:summary => "Product list"}
      - @products.each do |product|
        %tr
          %td= image_tag product.image.linepreview.url
          %td= product.name
          %td= product.volume
          %td= product.price
        