- @page_title = "Product Lines"
= link_to("<< Back to Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link')
.lines.index
  %h2 Product Lines
  = link_to(" Add New Product Line", {:action => 'new'}, :class => 'btn btn-green btn-sm')
  %div
    = "#{pluralize(@lines.size, 'product line')} found"
  %table.listing{:summary => "Product Line list"}
    %tr.header
      %th &#160;
      %th Product Line
      %th Visible
      %th Product Amount
      %th Line Color
      %th Actions
    - @lines.each do |line|
      %tr
        %td.whitetext{:bgcolor => line.color}= line.position
        %td.whitetext{:bgcolor => line.color}= line.name
        %td.whitetext.center{:bgcolor => line.color}= status_tag(line.visible)
        %td.whitetext.center{:bgcolor => line.color}= line.products.size
        %td.colors{:bgcolor => line.color} text
        %td.actions

          = link_to("View Products", {:controller => 'products', :line_id => line.id}, class: "btn btn-green")
          = link_to("Show", admin_line_path(line), class: "btn btn-green btn-sm")
          = link_to("Edit", {:action => 'edit', :id => line.id, }, class: "btn btn-green btn-sm")
          = link_to("Delete", {:action => 'delete', :id => line.id, }, class: "btn btn-green btn-sm")
