<% @page_title = "Products" %>

<%= link_to("<< Back to Lines", {:controller => 'lines', :action => 'index'}, :class => 'back-link') %>
<div class="Products index">
  <h2>Products</h2>

  <%= link_to("Add New Product", {:action => 'new', :line_id => @line.id}, :class => 'action new') %>

   <table class="listing" summary="Product list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Product Line</th>
      <th>Product</th>
      <th>Volume</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.position %></td>
      <td><%= product.line.name %></td>
      <td><%= product.name %></td>
      <td><%= product.volume %></td>
      <td><%= product.price %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => product.id, :line_id => @line.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => product.id, :line_id => @line.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => product.id, :line_id => @line.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>