!!!
%html
  %head
    %title
      Bellezza Naturale | #{@page_title || "Admin"}
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    :css
  %body
    #header
      %h2.headertext Bellezza Admin
    #main
      - if !flash[:notice].blank?
        .notice
          = flash[:notice]
      #content
        = yield
    #footer
      %p.footertext &#169; bellezza.io
