!!!
%html
  %head
    %title
      Bellezza Naturale#{" | #{@product_title}" if @product_title}
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

  %body
    .mainbox
      %row
        = render :partial => 'layouts/navigation', :locals => {:lines => @lines}
        = yield
        .clear
      #footer
        %p#copyright &#169; Bellezza Naturale
